* {
  margin: 0;
  padding: 0; }

::-webkit-input-placeholder {
  color: #000; }

:-moz-placeholder {
  color: #000; }

::-moz-placeholder {
  color: #000; }

:-ms-input-placeholder {
  color: #000; }

body {
  font-family: "OpenSans", sans-serif;
  font-weight: normal;
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.42857;
  -webkit-font-smoothing: antialised;
  background-color: #fff; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #6f3564;
  outline: none;
  border: 1px solid #6f3564; }

body input:required:valid,
body textarea:required:valid {
  color: #6f3564;
  outline: none;
  border: 1px solid #6f3564; }

a {
  cursor: pointer !important; }

button {
  cursor: pointer !important; }

.hidden {
  display: none; }

/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */
/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /*#menu{
	display: inline-block !important;
}*/ }

/* Large Devices, Wide Screens */
