/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1335px) {
	.owl-carousel .owl-dot, .owl-carousel .owl-nav .owl-prev{
		left: -40px;
	}
	.owl-carousel .owl-dot, .owl-carousel .owl-nav .owl-next{
		right: -40px;
	}
}
@media only screen and (max-width : 1200px) {
	.navbar-default .navbar-nav{
		float: left;
		padding: 30px 0;
	}
	.owl-carousel .owl-dot, .owl-carousel .owl-nav .owl-prev{
		display: none;
	}
	.owl-carousel .owl-dot, .owl-carousel .owl-nav .owl-next{
		display: none;
	}
	.product_hub .hub .info_block{
		position: relative;
		margin: 0 auto;
		display: block;
	}
	.product_hub .hub .img_block img{
		display: block;
		margin: 0 auto;
	}
	.product_hub .left .img_block{
		float: none;
	}
	.product_hub .hub{
		border-bottom: 1px solid #d6d6d6;
		padding-bottom: 30px;
	}
}
/* Medium Devices, Desktops */
@media only screen and (max-width : 1170px) {
	.item_business .content_item_grid img{
		width: 100px;
		height: 100px;
	}
	.item_business .content_item_grid p{
		font-size: 1.1em;
	}
}
@media only screen and (max-width : 991px){

	.navbar-default .navbar-nav li > a{
		font-size: 1.1em;
	}
	.overlay-search-form input{
		font-size: 38px;
		line-height: normal;
		left: 0;
		transform: none;
	}
	.slide_info{
		position: relative;
		margin: 0 auto;
		display: block;
	}
	.slide_img{
		float: none;
	}
	.nps_contact .nps{
		text-align: center;
	}
	.nps_contact .nps h1{
		display: block;
		text-align: center;
	}
	.nps_contact .nps a{
		margin-left: 0;
		margin-top: 30px;
	}
	.item_business .content_item_grid img{
		width: 75px;
		height: 75px;
	}
	.item_business .content_item_grid p{
		font-size: 1em;
		max-width: 100px;
		margin: 0 auto;
	}
	.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
		background: #000;
	}
}
@media only screen and (max-width : 788px){
	
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

	.navbar-default .navbar-nav li{
		padding-left: 0;
		padding-right: 0;
		margin: 20px 0;
	}
	.navbar-default .navbar-nav{
		width: 100%;
		display: block;
		text-align: center;
	}
	.overlay-search-form input{
		font-size: 32px;
	}
	.footer .footer_mnu ul li{
		display: block;
		border: none;
		text-align: center;
		padding: 0;
		margin-bottom: 10px;
	}
	.header_top_line .interface{
		display: block;
		float: none;
		text-align: center;
		margin-top: 20px;
	}
	.header_top_line .social{
		display: block;
		text-align: center;
	}
	.header_top_line .interface a{
		margin-right: 10px;
	}
	.header_top_line .interface a + a{
		margin-right: 15px;
	}
}
@media only screen and (max-width : 680px){

}
@media only screen and (max-width : 603px){


}

@media only screen and (max-width : 520px){
	
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.overlay-search-form input{
		font-size: 28px;
	}
}

@media only screen and (max-width : 420px) {

}


/* Custom, iPhone Retina */
@media only screen and (max-width : 380px) {
	
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

/*#menu{
	display: inline-block !important;
}*/
	.overlay-search-form input{
		width: 720px;
		position: absolute;
		margin: auto;
		height: auto;
		font-size: 48px;
	}
}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {



}